* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}
.wraper {
  width: 100vw;
  height: 100vh;
  overflow-y: auto;
  overflow: hidden;
}
.navbar {
  background-color: #ffffff;
}
.section-1 {
  background-color: #ecf3f8;
}
.con-1 {
  background-image: url(images/hero\ blink.png);

  /* background-attachment: fixed; */

  background-position: right;
  background-size: 7rem 17rem;
  background-repeat: no-repeat;
}
.section-1 .btn {
  background-color: #116aac;
  border-radius: 30px;
  color: #ffffff;
}
.section-1 span {
  color: #f7521e;
}
